flows.json
[
    {
        "id": "12920d928c584941",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "063a305f48ec89cd",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Sign Up Handle",
        "style": {
            "label": true,
            "stroke": "#bfbfbf",
            "color": "#ff0000"
        },
        "nodes": [
            "bc6fa255a8479cde",
            "f1e194da448dd9c2",
            "8d109ebe53881ce8",
            "14fb12c22f493dac",
            "bdc661eaf5b3f902",
            "2cfec57726334544",
            "f329337996e31ab3",
            "581c3b3e2b549f1d",
            "5381e8b62d5f9288",
            "da0dfcb536671edf",
            "038ac4c5d71191ab"
        ],
        "x": 574,
        "y": 499,
        "w": 692,
        "h": 302
    },
    {
        "id": "13be58712d45bdd9",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Show Accounts Info",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "20ee0c92f39e2529",
            "ed6b398fb1965797",
            "d95239f105d8822c"
        ],
        "x": 114,
        "y": 819,
        "w": 532,
        "h": 82
    },
    {
        "id": "e6fe9048638cc085",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Change tab after login ",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "e2ce7e37bde2dbb5",
            "f42be339ca3a9700",
            "d6ba79a78081c279",
            "27b57e1bd7d71ddb",
            "82a44cbb855cdf3c"
        ],
        "x": 94,
        "y": 359,
        "w": 652,
        "h": 122
    },
    {
        "id": "315983a64646b7fb",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Sign In Handle",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "9e84950799a55c87",
            "905af802a76d17c6",
            "5196078d05b1a3ca",
            "d7b784e823df2089",
            "901b7f2587c8d9fe",
            "8f65972edd19c474",
            "7784d5df8b5f2b53",
            "52d6cd8ffcda6d72",
            "f09315c22d5b3915",
            "869a33d5527823d1"
        ],
        "x": 74,
        "y": 19,
        "w": 672,
        "h": 282
    },
    {
        "id": "f2eb105179c32989",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Log Out",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "6059a482feb994e8",
            "e670b449d25b2d53",
            "c17b0866f68207b8",
            "1df5b74fa6b7518e",
            "b6785477feadb53c",
            "d2013ab2bcbc58ad",
            "ddccdc8430321805",
            "fa2a6f78cb745e0a"
        ],
        "x": -6,
        "y": 519,
        "w": 512,
        "h": 282
    },
    {
        "id": "5a79cac994192a0d",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Out put flag",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "3e0be98385a69fe4",
            "9db4076cf61c59a0",
            "9e409b48861ea81a",
            "1af28acc72ef52f7",
            "e8936a700e218380",
            "7e895bdc382ad0b1",
            "725a8692a3d38c1d",
            "2b6e2a5b74ec131f",
            "cdca7af9e89c7cdf",
            "df03531fa90a0596",
            "f40f13a2b12b7331",
            "f2917dac1ca95c79",
            "55ed79fa6a05e444",
            "0648a514ce8331b8"
        ],
        "x": 14,
        "y": 1859,
        "w": 792,
        "h": 442
    },
    {
        "id": "3da94f65c707e23d",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Input flag",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "0ba661f3d4d164d9",
            "5201ecc8045b09fc",
            "289b0a913e5a7c1c",
            "7cc0802acb3c5992",
            "deaf4e63997158fd",
            "40935547c75831a2",
            "da0695c148853fce",
            "73ba8083cbe465ed",
            "98c3a310f501f539",
            "4e9b55b641c9bbd0",
            "8e3650fadfb45fc1",
            "1e1fd57e8242b321",
            "62d79664ec0a2357",
            "b9740c3e0f22029d",
            "84f3378840ae489e",
            "474441f87872a468",
            "e92fb782fb968d74",
            "4ae05a260d3cee3c",
            "03c20ff74fed724d",
            "50344de0d5afc44b",
            "09aa707141c308d3",
            "81e7116daaeebee5",
            "119d62e894da457a",
            "e27e8178b0eef555",
            "a40b6593d45ecbec",
            "ad0f1d6e313fd90e",
            "0659305723cda371",
            "a2f5191855ec8b77",
            "c7e7c92271cda181",
            "8d71ddfee25f5765",
            "90efd4155883a885",
            "1c27d37364f4ba35"
        ],
        "x": 14,
        "y": 919,
        "w": 692,
        "h": 922
    },
    {
        "id": "a792248ed27b3095",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "8906270f2889dfd3",
        "type": "ui_tab",
        "name": "Sign In & Sign Up",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1699667209f7a5bd",
        "type": "ui_group",
        "name": "Sign In",
        "tab": "8906270f2889dfd3",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7ca3dba9af8a99a",
        "type": "ui_group",
        "name": "Sign Up",
        "tab": "8906270f2889dfd3",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98d4f436e2bef99f",
        "type": "ui_group",
        "name": "User Database",
        "tab": "8906270f2889dfd3",
        "order": 3,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c193e5904777d516",
        "type": "ui_group",
        "name": "2",
        "tab": "a792248ed27b3095",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "573d34c5f0b7483b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4dd54fb92a77b2e4",
        "type": "ui_group",
        "name": "BUTTON_OPEN_DOOR",
        "tab": "a792248ed27b3095",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1df1496c38736d2e",
        "type": "ui_group",
        "name": "1",
        "tab": "a792248ed27b3095",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1989f2e67c75bbb",
        "type": "ui_group",
        "name": "3",
        "tab": "a792248ed27b3095",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd12eae5430e069a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "27133f1f04c8b028",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "96e9bba7657a895c",
        "type": "ui_group",
        "name": "1",
        "tab": "27133f1f04c8b028",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d15fe7f4915f2ee",
        "type": "ui_group",
        "name": "2",
        "tab": "27133f1f04c8b028",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cf20dbbdb97e156",
        "type": "mongodb3",
        "uri": "mongodb+srv://ngocAnhDo26:26022004@cluster0.1xkby.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0",
        "name": "AutomaticDoor",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "9e84950799a55c87",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "1699667209f7a5bd",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "5196078d05b1a3ca"
            ]
        ]
    },
    {
        "id": "905af802a76d17c6",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "1699667209f7a5bd",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "d7b784e823df2089"
            ]
        ]
    },
    {
        "id": "bc6fa255a8479cde",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "d7ca3dba9af8a99a",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 810,
        "y": 540,
        "wires": [
            [
                "8d109ebe53881ce8"
            ]
        ]
    },
    {
        "id": "f1e194da448dd9c2",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "d7ca3dba9af8a99a",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "14fb12c22f493dac"
            ]
        ]
    },
    {
        "id": "5196078d05b1a3ca",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "LOGIN_TK",
        "func": "var value = msg.payload\n\nflow.set(\"TK\",value)\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d7b784e823df2089",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "LOGIN_MK",
        "func": "var value = msg.payload\n\nflow.set(\"MK\",value)\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "901b7f2587c8d9fe",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "INPUT_CLOUD_TK_MK",
        "func": "\nlet TK_MK_LIST = flow.get(\"TK_MK_LIST\") || [];\n\nlet newUser = {\n    username: msg.payload.username,\n    password: msg.payload.password,\n    role: msg.payload.role,\n    gmail: msg.payload.gmail\n};\n\nTK_MK_LIST.push(newUser);\n\nflow.set(\"TK_MK_LIST\", TK_MK_LIST);\n\nflow.set(\"IS_LOGIN\", false);\n\nmsg.payload = TK_MK_LIST;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//let TK_MK_LIST = [\n//    {username: \"123\", password: \"111\", role: \"admin\"},\n //   {username: \"234\", password: \"222\", role: \"guest\"},\n//    {username: \"456\", password: \"333\", role: \"guest\"}\n//];\n\n//let TK_MK_LIST ={}\n\n\n//flow.set(\"IS_LOGIN\", false);\n//flow.set(\"TK_MK_LIST\", TK_MK_LIST);\n\n//return msg;\n",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8d109ebe53881ce8",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "SIGN_UP_TK",
        "func": "var value = msg.payload\n\nflow.set(\"TK_NEW\",value)\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "14fb12c22f493dac",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "SIGN_UP_MK",
        "func": "var value = msg.payload\n\nflow.set(\"MK_NEW\",value)\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "bdc661eaf5b3f902",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "",
        "group": "d7ca3dba9af8a99a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "581c3b3e2b549f1d"
            ]
        ]
    },
    {
        "id": "2cfec57726334544",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "OUTPUT_TK_MK",
        "func": "let TK_MK_LIST = flow.get(\"TK_MK_LIST\") || {};\nlet IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\n\nlet TK_NEW = flow.get(\"TK_NEW\") || \"\";\nlet MK_NEW = flow.get(\"MK_NEW\") || \"\";\nlet GMAIL_NEW = flow.get(\"GMAIL_NEW\")|| \"\";\nlet ROLE_NEW = \"guest\"\n\nlet existingUser = TK_MK_LIST.find(function(user) {\n    return user.username === TK_NEW;\n});\n\nif (existingUser) {\n    msg.payload = `Account ${TK_NEW} already exists !`;\n} else {\n    TK_MK_LIST.push({\n        username: TK_NEW,\n        password: MK_NEW,\n        role: ROLE_NEW,\n        gmail: GMAIL_NEW\n    });\n    \n    flow.set(\"TK_MK_LIST\", TK_MK_LIST);\n    msg.payload = `New account is added`;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 700,
        "wires": [
            [
                "f329337996e31ab3"
            ]
        ]
    },
    {
        "id": "20ee0c92f39e2529",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "13be58712d45bdd9",
        "name": "",
        "group": "98d4f436e2bef99f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "ed6b398fb1965797"
            ]
        ]
    },
    {
        "id": "e2ce7e37bde2dbb5",
        "type": "function",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "CHECK_CHANGE_TAB",
        "func": "let IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\n\nif (IS_LOGIN) {\n    msg.payload = {tab: \"Dashboard\"};\n} else {\n    msg.payload = {tab: \"Sign In & Sign Up\"};\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "0",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 400,
        "wires": [
            [
                "d6ba79a78081c279"
            ]
        ]
    },
    {
        "id": "f42be339ca3a9700",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "SWITCH_TAB",
        "events": "all",
        "x": 640,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d6ba79a78081c279",
        "type": "delay",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "f42be339ca3a9700"
            ]
        ]
    },
    {
        "id": "27b57e1bd7d71ddb",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "ENABLE_TAB",
        "events": "all",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0ba661f3d4d164d9",
        "type": "ui_text",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "group": "1df1496c38736d2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 960,
        "wires": []
    },
    {
        "id": "5201ecc8045b09fc",
        "type": "ui_text",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "group": "c193e5904777d516",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "People Detected",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 1240,
        "wires": []
    },
    {
        "id": "289b0a913e5a7c1c",
        "type": "ui_text",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "group": "1df1496c38736d2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7cc0802acb3c5992",
        "type": "ui_text",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "group": "c193e5904777d516",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fire Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8f65972edd19c474",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "CHECK_TK_MK",
        "func": "var TK = flow.get('TK') || '';\nvar MK = flow.get('MK') || '';\nvar TK_MK_LIST = flow.get(\"TK_MK_LIST\") || [];\n\nvar user = TK_MK_LIST.find(function(user) {\n    return user.username === TK && user.password === MK;\n});\n\nif (user) {\n    flow.set(\"IS_LOGIN\", true);\n    flow.set(\"ROLE\", user.role); \n    msg.payload = \"Login successful!\";\n} else {\n    flow.set(\"IS_LOGIN\", false);\n    flow.set(\"ROLE\", \"\"); \n    msg.payload = \"Wrong password or username!\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "e2ce7e37bde2dbb5",
                "52d6cd8ffcda6d72",
                "82a44cbb855cdf3c"
            ]
        ]
    },
    {
        "id": "7784d5df8b5f2b53",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "",
        "group": "1699667209f7a5bd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "8f65972edd19c474"
            ]
        ]
    },
    {
        "id": "52d6cd8ffcda6d72",
        "type": "ui_toast",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "deaf4e63997158fd",
        "type": "ui_chart",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "group": "d1989f2e67c75bbb",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Opens per day",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "40935547c75831a2",
        "type": "mqtt in",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "topic": "/22127010/flag/doorIsClosed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd12eae5430e069a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 960,
        "wires": [
            [
                "0ba661f3d4d164d9",
                "73ba8083cbe465ed"
            ]
        ]
    },
    {
        "id": "82a44cbb855cdf3c",
        "type": "function",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "CHECK_ABLE_TAB",
        "func": "let IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\nlet role = flow.get(\"ROLE\") || ''; \n\nif (IS_LOGIN) {\n    msg.payload = {\n        tabs: {\n            \"enable\": [\"Dashboard\"],\n        }\n    };\n\n    if (role === \"admin\") {\n        msg.payload.tabs.enable.push(\"Settings\"); \n    }\n    else\n    {\n    msg.payload = {\n        tabs: {\n            \"disable\": [\"Settings\"]\n        }\n    };\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "27b57e1bd7d71ddb"
            ]
        ]
    },
    {
        "id": "3e0be98385a69fe4",
        "type": "ui_switch",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "label": "Safety Mode",
        "tooltip": "",
        "group": "96e9bba7657a895c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "9db4076cf61c59a0"
            ]
        ]
    },
    {
        "id": "9db4076cf61c59a0",
        "type": "mqtt out",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "topic": "/22127010/flag/safetyMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd12eae5430e069a",
        "x": 400,
        "y": 1960,
        "wires": []
    },
    {
        "id": "da0695c148853fce",
        "type": "function",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "GET DATE",
        "func": "\nvar d = new Date();\nvar day = d.getDate();\nvar month = d.getMonth();\nvar year = d.getFullYear();\nif (day <= 9)\n    day = \"0\" + day;\nif (month <= 9)\n    month = \"0\" + (month + 1);\nvar date_out = day + \"/\" + month + \"/\" + year;\nmsg.payload = date_out\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "deaf4e63997158fd"
            ]
        ]
    },
    {
        "id": "73ba8083cbe465ed",
        "type": "switch",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPENED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLOSED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "da0695c148853fce"
            ],
            []
        ]
    },
    {
        "id": "d2013ab2bcbc58ad",
        "type": "inject",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 620,
        "wires": [
            [
                "6059a482feb994e8"
            ]
        ]
    },
    {
        "id": "6059a482feb994e8",
        "type": "function",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "RESET_WEB",
        "func": "msg.payload = {\n    tabs: {\n        \"disable\": [\"Settings\",\"Dashboard\"],\n\n    }\n};\n\nflow.set(\"IS_LOGIN\", null);\nflow.set(\"TK_MK_LIST\", null);\nflow.set(\"role\", null);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 560,
        "wires": [
            [
                "e670b449d25b2d53"
            ]
        ]
    },
    {
        "id": "e670b449d25b2d53",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "",
        "events": "all",
        "x": 360,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9e409b48861ea81a",
        "type": "ui_switch",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "label": "Always OPEN",
        "tooltip": "",
        "group": "7d15fe7f4915f2ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 2020,
        "wires": [
            [
                "7e895bdc382ad0b1"
            ]
        ]
    },
    {
        "id": "1af28acc72ef52f7",
        "type": "ui_switch",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "label": "Light ON",
        "tooltip": "",
        "group": "7d15fe7f4915f2ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 2080,
        "wires": [
            [
                "725a8692a3d38c1d"
            ]
        ]
    },
    {
        "id": "e8936a700e218380",
        "type": "ui_switch",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "label": "Notifications ON",
        "tooltip": "",
        "group": "7d15fe7f4915f2ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 2140,
        "wires": [
            [
                "2b6e2a5b74ec131f"
            ]
        ]
    },
    {
        "id": "98c3a310f501f539",
        "type": "mqtt in",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "topic": "/22127303/flag/doorLight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd12eae5430e069a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "289b0a913e5a7c1c"
            ]
        ]
    },
    {
        "id": "4e9b55b641c9bbd0",
        "type": "mqtt in",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "topic": "/22127010/flag/peopleDetected",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd12eae5430e069a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1240,
        "wires": [
            [
                "5201ecc8045b09fc"
            ]
        ]
    },
    {
        "id": "8e3650fadfb45fc1",
        "type": "mqtt in",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "topic": "/22127303/flag/fireSensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd12eae5430e069a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1300,
        "wires": [
            [
                "7cc0802acb3c5992"
            ]
        ]
    },
    {
        "id": "7e895bdc382ad0b1",
        "type": "mqtt out",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "topic": "/22127010/flag/alwaysOpen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd12eae5430e069a",
        "x": 400,
        "y": 2020,
        "wires": []
    },
    {
        "id": "725a8692a3d38c1d",
        "type": "mqtt out",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "topic": "/22127010/flag/alwaysLightOn",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd12eae5430e069a",
        "x": 410,
        "y": 2080,
        "wires": []
    },
    {
        "id": "f329337996e31ab3",
        "type": "ui_toast",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1150,
        "y": 720,
        "wires": []
    },
    {
        "id": "ed6b398fb1965797",
        "type": "function",
        "z": "12920d928c584941",
        "g": "13be58712d45bdd9",
        "name": "SHOW_TK_MK",
        "func": "let ROLE = flow.get(\"ROLE\") || ''; \nlet IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\n\n\nif(ROLE == 'admin' && IS_LOGIN == true)\n{\n    msg.payload = flow.get(\"TK_MK_LIST\") || {};\n}\nelse\n{\n    msg.payload = ''\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 860,
        "wires": [
            [
                "d95239f105d8822c"
            ]
        ]
    },
    {
        "id": "d95239f105d8822c",
        "type": "ui_table",
        "z": "12920d928c584941",
        "g": "13be58712d45bdd9",
        "group": "98d4f436e2bef99f",
        "name": "",
        "order": 2,
        "width": 16,
        "height": 6,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "5381e8b62d5f9288",
        "type": "mongodb3 in",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "service": "_ext_",
        "configNode": "1cf20dbbdb97e156",
        "name": "",
        "collection": "User",
        "operation": "insert",
        "x": 1000,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "581c3b3e2b549f1d",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "WRITE_DATA_BASE",
        "func": "let TK_MK_LIST = flow.get(\"TK_MK_LIST\") || {};\nlet IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\n\nlet TK_NEW = flow.get(\"TK_NEW\") || \"\";\nlet MK_NEW = flow.get(\"MK_NEW\") || \"\";\nlet GMAIL_NEW = flow.get(\"GMAIL_NEW\")|| \"\";\nlet ROLE_NEW = \"guest\"\n\nlet existingUser = TK_MK_LIST.find(function (user) {\n    return user.username === TK_NEW;\n});\n\nif (existingUser) {\n    msg.payload = \"FAIL\"\n} else {\n    msg.payload = [\n        { \"username\": TK_NEW, \"password\": MK_NEW, \"role\": \"guest\", \"gmail\": GMAIL_NEW}\n    ]\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 760,
        "wires": [
            [
                "2cfec57726334544",
                "5381e8b62d5f9288"
            ]
        ]
    },
    {
        "id": "f09315c22d5b3915",
        "type": "mongodb3 in",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "service": "_ext_",
        "configNode": "1cf20dbbdb97e156",
        "name": "",
        "collection": "User",
        "operation": "find.forEach",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "901b7f2587c8d9fe"
            ]
        ]
    },
    {
        "id": "869a33d5527823d1",
        "type": "inject",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "f09315c22d5b3915"
            ]
        ]
    },
    {
        "id": "1e1fd57e8242b321",
        "type": "mqtt in",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "topic": "/22127010/flag/alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd12eae5430e069a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1360,
        "wires": [
            [
                "62d79664ec0a2357",
                "0659305723cda371"
            ]
        ]
    },
    {
        "id": "62d79664ec0a2357",
        "type": "switch",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "b9740c3e0f22029d"
            ]
        ]
    },
    {
        "id": "b9740c3e0f22029d",
        "type": "function",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "NOTIFICATION_CHECK",
        "func": "\nmsg.payload =  flow.get('NOTIFI') || '';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1360,
        "wires": [
            [
                "84f3378840ae489e"
            ]
        ]
    },
    {
        "id": "84f3378840ae489e",
        "type": "switch",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 1420,
        "wires": [
            [
                "a40b6593d45ecbec"
            ]
        ]
    },
    {
        "id": "474441f87872a468",
        "type": "ui_toast",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c17b0866f68207b8",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "",
        "group": "4dd54fb92a77b2e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log Out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 720,
        "wires": [
            [
                "b6785477feadb53c",
                "ddccdc8430321805",
                "d95239f105d8822c"
            ]
        ]
    },
    {
        "id": "1df5b74fa6b7518e",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b6785477feadb53c",
        "type": "function",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "SWITCH_TAB",
        "func": "msg.payload = {tab: \"Sign In & Sign Up\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 760,
        "wires": [
            [
                "1df5b74fa6b7518e"
            ]
        ]
    },
    {
        "id": "ddccdc8430321805",
        "type": "function",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "RESET_WEB",
        "func": "msg.payload = {\n    tabs: {\n        \"disable\": [\"Settings\",\"Dashboard\"],\n\n    }\n};\n\nflow.set(\"IS_LOGIN\", null);\n\nflow.set(\"role\", null);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 700,
        "wires": [
            [
                "fa2a6f78cb745e0a"
            ]
        ]
    },
    {
        "id": "fa2a6f78cb745e0a",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "g": "f2eb105179c32989",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e92fb782fb968d74",
        "type": "http request",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=jKccxcmEgrTvH2Fw9uDY&m={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "4ae05a260d3cee3c",
        "type": "http request",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=jKccxcmEgrTvH2Fw9uDY&m={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "03c20ff74fed724d",
        "type": "mqtt in",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "topic": "/22127303/flag/fireSensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd12eae5430e069a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "09aa707141c308d3",
                "a2f5191855ec8b77"
            ]
        ]
    },
    {
        "id": "50344de0d5afc44b",
        "type": "change",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FIRE!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1700,
        "wires": [
            [
                "4ae05a260d3cee3c",
                "e27e8178b0eef555"
            ]
        ]
    },
    {
        "id": "2b6e2a5b74ec131f",
        "type": "function",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "function 4",
        "func": "if(msg.payload)\n{\n    flow.set(\"NOTIFI\",true)\n}\nelse\n{\n    flow.set(\"NOTIFI\",false)\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "09aa707141c308d3",
        "type": "switch",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "FIRE!!!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 1640,
        "wires": [
            [
                "81e7116daaeebee5"
            ]
        ]
    },
    {
        "id": "81e7116daaeebee5",
        "type": "function",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "NOTIFICATION_CHECK",
        "func": "\nmsg.payload =  flow.get('NOTIFI') || '';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1640,
        "wires": [
            [
                "119d62e894da457a"
            ]
        ]
    },
    {
        "id": "119d62e894da457a",
        "type": "switch",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 1700,
        "wires": [
            [
                "50344de0d5afc44b"
            ]
        ]
    },
    {
        "id": "e27e8178b0eef555",
        "type": "ui_toast",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 1700,
        "wires": []
    },
    {
        "id": "a40b6593d45ecbec",
        "type": "change",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Door has been locked for 3 minutes!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1420,
        "wires": [
            [
                "474441f87872a468",
                "e92fb782fb968d74"
            ]
        ]
    },
    {
        "id": "cdca7af9e89c7cdf",
        "type": "mqtt out",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "topic": "/22127303/flag/doorPassword",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd12eae5430e069a",
        "x": 650,
        "y": 2260,
        "wires": []
    },
    {
        "id": "df03531fa90a0596",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "96e9bba7657a895c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2200,
        "wires": [
            [
                "f40f13a2b12b7331"
            ]
        ]
    },
    {
        "id": "f40f13a2b12b7331",
        "type": "function",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "CHECK_ERROR_PASSWORD",
        "func": "let password = msg.payload;  \n\nif (typeof password === 'string' && password.length === 4 && /^\\d{4}$/.test(password)) {\n    msg.payload = password;  \n} else {\n    msg.payload = \"ERROR: PASSWORD MUST BE 4 LETTERS !\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2200,
        "wires": [
            [
                "f2917dac1ca95c79"
            ]
        ]
    },
    {
        "id": "f2917dac1ca95c79",
        "type": "switch",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ERROR",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 2260,
        "wires": [
            [
                "55ed79fa6a05e444"
            ],
            [
                "cdca7af9e89c7cdf"
            ]
        ]
    },
    {
        "id": "55ed79fa6a05e444",
        "type": "ui_toast",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 2220,
        "wires": []
    },
    {
        "id": "ad0f1d6e313fd90e",
        "type": "function",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "Fire_email_content",
        "func": "let TK_MK_LIST = flow.get(\"TK_MK_LIST\") || [];\n\nflow.set(\"TK_MK_LIST\", TK_MK_LIST);\nlet allEmails = TK_MK_LIST.map(user => user.gmail);\nmsg.to = \"ducnhan1522004@gmail.com\"\nmsg.cc = allEmails.join(\",\"); \n\nmsg.topic = \"CNH BO: Xy ra chy ti khu vc ca thng minh\"\nmsg.payload = \"Xin vui lng di tn v thng bo cho c quan chc nng\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1800,
        "wires": [
            [
                "8d71ddfee25f5765"
            ]
        ]
    },
    {
        "id": "0659305723cda371",
        "type": "function",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "Thief_alert",
        "func": "let TK_MK_LIST = flow.get(\"TK_MK_LIST\") || [];\n\nflow.set(\"TK_MK_LIST\", TK_MK_LIST);\nlet allEmails = TK_MK_LIST.map(user => user.gmail);\nmsg.to = \"ducnhan1522004@gmail.com\"\nmsg.cc = allEmails.join(\",\"); \n\n\nmsg.topic = \"CNH BO: Ca  b chn\"\nmsg.payload = \"Nghi ng c hnh vi t nhp vo bn trong ta nh, ca  b kha trong vng 3 pht!\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1500,
        "wires": [
            [
                "c7e7c92271cda181"
            ]
        ]
    },
    {
        "id": "da0dfcb536671edf",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "",
        "label": "Email",
        "tooltip": "",
        "group": "d7ca3dba9af8a99a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 790,
        "y": 620,
        "wires": [
            [
                "038ac4c5d71191ab"
            ]
        ]
    },
    {
        "id": "038ac4c5d71191ab",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "SIGN_UP_GMAIL",
        "func": "var value = msg.payload\n\nflow.set(\"GMAIL_NEW\",value)\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0648a514ce8331b8",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "5a79cac994192a0d",
        "name": "",
        "group": "4dd54fb92a77b2e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OPEN DOOR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a2f5191855ec8b77",
        "type": "switch",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SAFE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FIRE!!!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1760,
        "wires": [
            [],
            [
                "ad0f1d6e313fd90e",
                "1c27d37364f4ba35"
            ]
        ]
    },
    {
        "id": "c7e7c92271cda181",
        "type": "e-mail",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "ducnhan1522004@gmail.com",
        "dname": "",
        "x": 490,
        "y": 1500,
        "wires": []
    },
    {
        "id": "8d71ddfee25f5765",
        "type": "e-mail",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "ducnhan1522004@gmail.com",
        "dname": "",
        "x": 490,
        "y": 1800,
        "wires": []
    },
    {
        "id": "90efd4155883a885",
        "type": "inject",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FIRE!!!",
        "payloadType": "str",
        "x": 150,
        "y": 1560,
        "wires": [
            [
                "a2f5191855ec8b77"
            ]
        ]
    },
    {
        "id": "1c27d37364f4ba35",
        "type": "debug",
        "z": "12920d928c584941",
        "g": "3da94f65c707e23d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 1760,
        "wires": []
    }
]
