flows.json
[
    {
        "id": "12920d928c584941",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "063a305f48ec89cd",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Sign Up Handle",
        "style": {
            "label": true,
            "stroke": "#bfbfbf",
            "color": "#ff0000"
        },
        "nodes": [
            "bc6fa255a8479cde",
            "f1e194da448dd9c2",
            "8d109ebe53881ce8",
            "14fb12c22f493dac",
            "bdc661eaf5b3f902",
            "2cfec57726334544"
        ],
        "x": 94,
        "y": 499,
        "w": 532,
        "h": 242
    },
    {
        "id": "13be58712d45bdd9",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Show Accounts Info",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "20ee0c92f39e2529",
            "b0263f1a0ca4121d",
            "6d74a49774e28ac7"
        ],
        "x": 94,
        "y": 759,
        "w": 592,
        "h": 82
    },
    {
        "id": "e6fe9048638cc085",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Change tab after login ",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "e2ce7e37bde2dbb5",
            "f42be339ca3a9700",
            "d6ba79a78081c279",
            "27b57e1bd7d71ddb",
            "82a44cbb855cdf3c"
        ],
        "x": 94,
        "y": 359,
        "w": 652,
        "h": 122
    },
    {
        "id": "315983a64646b7fb",
        "type": "group",
        "z": "12920d928c584941",
        "name": "Sign In Handle",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "9e84950799a55c87",
            "905af802a76d17c6",
            "5196078d05b1a3ca",
            "d7b784e823df2089",
            "901b7f2587c8d9fe",
            "8f65972edd19c474",
            "7784d5df8b5f2b53",
            "52d6cd8ffcda6d72"
        ],
        "x": 94,
        "y": 19,
        "w": 652,
        "h": 282
    },
    {
        "id": "9e84950799a55c87",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "1699667209f7a5bd",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "5196078d05b1a3ca"
            ]
        ]
    },
    {
        "id": "905af802a76d17c6",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "1699667209f7a5bd",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "d7b784e823df2089"
            ]
        ]
    },
    {
        "id": "bc6fa255a8479cde",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "d7ca3dba9af8a99a",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "8d109ebe53881ce8"
            ]
        ]
    },
    {
        "id": "f1e194da448dd9c2",
        "type": "ui_text_input",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "d7ca3dba9af8a99a",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 300,
        "y": 600,
        "wires": [
            [
                "14fb12c22f493dac"
            ]
        ]
    },
    {
        "id": "5196078d05b1a3ca",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "LOGIN_TK",
        "func": "var value = msg.payload\n\nflow.set(\"TK\",value)\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d7b784e823df2089",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "LOGIN_MK",
        "func": "var value = msg.payload\n\nflow.set(\"MK\",value)\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "901b7f2587c8d9fe",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "INPUT_CLOUD_TK_MK",
        "func": "\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "let TK_MK_LIST = [\n    {username: \"123\", password: \"111\", role: \"admin\"},\n    {username: \"234\", password: \"222\", role: \"guest\"},\n    {username: \"456\", password: \"333\", role: \"guest\"}\n];\n\nflow.set(\"IS_LOGIN\", false);\nflow.set(\"TK_MK_LIST\", TK_MK_LIST);\n\nreturn msg;\n",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8d109ebe53881ce8",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "SIGN_UP_TK",
        "func": "var value = msg.payload\n\nflow.set(\"TK_NEW\",value)\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "14fb12c22f493dac",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "SIGN_UP_MK",
        "func": "var value = msg.payload\n\nflow.set(\"MK_NEW\",value)\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "bdc661eaf5b3f902",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "",
        "group": "d7ca3dba9af8a99a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "2cfec57726334544"
            ]
        ]
    },
    {
        "id": "2cfec57726334544",
        "type": "function",
        "z": "12920d928c584941",
        "g": "063a305f48ec89cd",
        "name": "OUTPUT_CLOUD_TK_MK",
        "func": "let TK_MK_LIST = flow.get(\"TK_MK_LIST\") || {};\nlet IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\n\nlet TK_NEW = flow.get(\"TK_NEW\") || \"\";\nlet MK_NEW = flow.get(\"MK_NEW\") || \"\";\n\n\nif (TK_MK_LIST[TK_NEW]) {\n    msg.payload = `Tài khoản ${TK_NEW} đã tồn tại!`;\n} else {\n    TK_MK_LIST[TK_NEW] = MK_NEW;\n    flow.set(\"danhSachTKMK\", TK_MK_LIST);\n    msg.payload = `Đã thêm tài khoản: ${TK_NEW} với mật khẩu: ${MK_NEW}`;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "20ee0c92f39e2529",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "13be58712d45bdd9",
        "name": "",
        "group": "98d4f436e2bef99f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "b0263f1a0ca4121d"
            ]
        ]
    },
    {
        "id": "b0263f1a0ca4121d",
        "type": "function",
        "z": "12920d928c584941",
        "g": "13be58712d45bdd9",
        "name": "SHOW_TK_MK",
        "func": "let TK_MK_LIST = flow.get(\"TK_MK_LIST\") || {};\n//let LIST=\"<b>Danh sách tài khoản - mật khẩu:</b><br>\";\nlet IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\n\nif(IS_LOGIN == false){\n    return msg\n}\n\n//for (let tk in TK_MK_LIST) {\n//    LIST += `Tài khoản: ${tk}, Mật khẩu: ${TK_MK_LIST[tk]}<br>`;\n//}\n\nvar tableHTML = \"<table border='1'><tr><th>NO</th><th>Username</th><th>Role</th></tr>\";\n\nfor (var i = 0; i < flow.get(\"TK_MK_LIST\").length; i++) {\n    var item = flow.get(\"TK_MK_LIST\")[i];\n    tableHTML += \"<tr><td>\" + (i + 1) + \"</td><td>\" + item.username + \"</td><td>\" + item.role + \"</td></tr>\";\n}\n\ntableHTML += \"</table>\";\n\nmsg.payload = tableHTML;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 800,
        "wires": [
            [
                "6d74a49774e28ac7"
            ]
        ]
    },
    {
        "id": "6d74a49774e28ac7",
        "type": "ui_template",
        "z": "12920d928c584941",
        "g": "13be58712d45bdd9",
        "group": "98d4f436e2bef99f",
        "name": "SHOW_TK_MK",
        "order": 3,
        "width": "16",
        "height": "10",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e2ce7e37bde2dbb5",
        "type": "function",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "CHECK_CHANGE_TAB",
        "func": "let IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\n\nif (IS_LOGIN) {\n    msg.payload = {tab: \"Dashboard\"};\n} else {\n    msg.payload = {tab: \"Login\"};\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "0",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 400,
        "wires": [
            [
                "d6ba79a78081c279"
            ]
        ]
    },
    {
        "id": "f42be339ca3a9700",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "SWITCH_TAB",
        "events": "all",
        "x": 640,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d6ba79a78081c279",
        "type": "delay",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "f42be339ca3a9700"
            ]
        ]
    },
    {
        "id": "27b57e1bd7d71ddb",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "ENABLE_TAB",
        "events": "all",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0ba661f3d4d164d9",
        "type": "ui_text",
        "z": "12920d928c584941",
        "group": "1df1496c38736d2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 960,
        "wires": []
    },
    {
        "id": "d8816866e57c06b3",
        "type": "ui_button",
        "z": "12920d928c584941",
        "name": "",
        "group": "4dd54fb92a77b2e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OPEN DOOR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5201ecc8045b09fc",
        "type": "ui_text",
        "z": "12920d928c584941",
        "group": "c193e5904777d516",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "People Detected",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 250,
        "y": 1280,
        "wires": []
    },
    {
        "id": "289b0a913e5a7c1c",
        "type": "ui_text",
        "z": "12920d928c584941",
        "group": "1df1496c38736d2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door Light",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 1220,
        "wires": []
    },
    {
        "id": "7cc0802acb3c5992",
        "type": "ui_text",
        "z": "12920d928c584941",
        "group": "c193e5904777d516",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fire Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8f65972edd19c474",
        "type": "function",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "CHECK_TK_MK",
        "func": "var TK = flow.get('TK') || '';\nvar MK = flow.get('MK') || '';\nvar TK_MK_LIST = flow.get(\"TK_MK_LIST\") || [];\n\nvar user = TK_MK_LIST.find(function(user) {\n    return user.username === TK && user.password === MK;\n});\n\nif (user) {\n    flow.set(\"IS_LOGIN\", true);\n    flow.set(\"role\", user.role); \n    msg.payload = \"Đăng nhập thành công!\";\n} else {\n    flow.set(\"IS_LOGIN\", false);\n    flow.set(\"role\", \"\"); \n    msg.payload = \"Tài khoản hoặc mật khẩu không chính xác!\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "e2ce7e37bde2dbb5",
                "52d6cd8ffcda6d72",
                "82a44cbb855cdf3c"
            ]
        ]
    },
    {
        "id": "7784d5df8b5f2b53",
        "type": "ui_button",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "name": "",
        "group": "1699667209f7a5bd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "8f65972edd19c474"
            ]
        ]
    },
    {
        "id": "52d6cd8ffcda6d72",
        "type": "ui_toast",
        "z": "12920d928c584941",
        "g": "315983a64646b7fb",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "deaf4e63997158fd",
        "type": "ui_chart",
        "z": "12920d928c584941",
        "name": "",
        "group": "d1989f2e67c75bbb",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Opens per day",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 240,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "40935547c75831a2",
        "type": "mqtt in",
        "z": "12920d928c584941",
        "name": "",
        "topic": "/22127010/flag/doorIsClosed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd12eae5430e069a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 960,
        "wires": [
            [
                "0ba661f3d4d164d9",
                "73ba8083cbe465ed"
            ]
        ]
    },
    {
        "id": "82a44cbb855cdf3c",
        "type": "function",
        "z": "12920d928c584941",
        "g": "e6fe9048638cc085",
        "name": "CHECK_ABLE_TAB",
        "func": "let IS_LOGIN = flow.get(\"IS_LOGIN\") || false;\nlet role = flow.get(\"role\") || ''; \n\nif (IS_LOGIN) {\n    msg.payload = {\n        tabs: {\n            \"enable\": [\"Dashboard\"],\n        }\n    };\n\n    if (role === \"admin\") {\n        msg.payload.tabs.enable.push(\"Settings\"); \n    }\n    else\n    {\n    msg.payload = {\n        tabs: {\n            \"disable\": [\"Settings\"]\n        }\n    };\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 440,
        "wires": [
            [
                "27b57e1bd7d71ddb"
            ]
        ]
    },
    {
        "id": "3e0be98385a69fe4",
        "type": "ui_switch",
        "z": "12920d928c584941",
        "name": "",
        "label": "Safety Mode",
        "tooltip": "",
        "group": "96e9bba7657a895c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 1600,
        "wires": [
            [
                "9db4076cf61c59a0"
            ]
        ]
    },
    {
        "id": "9db4076cf61c59a0",
        "type": "mqtt out",
        "z": "12920d928c584941",
        "name": "",
        "topic": "/22127010/flag/safetyMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd12eae5430e069a",
        "x": 480,
        "y": 1600,
        "wires": []
    },
    {
        "id": "da0695c148853fce",
        "type": "function",
        "z": "12920d928c584941",
        "name": "GET DATE",
        "func": "\nvar d = new Date();\nvar day = d.getDate();\nvar month = d.getMonth();\nvar year = d.getFullYear();\nif (day <= 9)\n    day = \"0\" + day;\nif (month <= 9)\n    month = \"0\" + (month + 1);\nvar date_out = day + \"/\" + month + \"/\" + year;\nmsg.payload = date_out\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "ff12afbdce829a0f"
            ]
        ]
    },
    {
        "id": "ff12afbdce829a0f",
        "type": "debug",
        "z": "12920d928c584941",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1020,
        "wires": []
    },
    {
        "id": "73ba8083cbe465ed",
        "type": "switch",
        "z": "12920d928c584941",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPENED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLOSED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 90,
        "y": 1100,
        "wires": [
            [
                "da0695c148853fce"
            ],
            []
        ]
    },
    {
        "id": "d2013ab2bcbc58ad",
        "type": "inject",
        "z": "12920d928c584941",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "6059a482feb994e8"
            ]
        ]
    },
    {
        "id": "6059a482feb994e8",
        "type": "function",
        "z": "12920d928c584941",
        "name": "RESET_WEB",
        "func": "msg.payload = {\n    tabs: {\n        \"disable\": [\"Settings\",\"Dashboard\"],\n\n    }\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1880,
        "wires": [
            [
                "e670b449d25b2d53"
            ]
        ]
    },
    {
        "id": "e670b449d25b2d53",
        "type": "ui_ui_control",
        "z": "12920d928c584941",
        "name": "",
        "events": "all",
        "x": 520,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "1699667209f7a5bd",
        "type": "ui_group",
        "name": "Sign In",
        "tab": "8906270f2889dfd3",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7ca3dba9af8a99a",
        "type": "ui_group",
        "name": "Sign Up",
        "tab": "8906270f2889dfd3",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98d4f436e2bef99f",
        "type": "ui_group",
        "name": "User Database",
        "tab": "8906270f2889dfd3",
        "order": 3,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1df1496c38736d2e",
        "type": "ui_group",
        "name": "1",
        "tab": "a792248ed27b3095",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4dd54fb92a77b2e4",
        "type": "ui_group",
        "name": "BUTTON_OPEN_DOOR",
        "tab": "a792248ed27b3095",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c193e5904777d516",
        "type": "ui_group",
        "name": "2",
        "tab": "a792248ed27b3095",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1989f2e67c75bbb",
        "type": "ui_group",
        "name": "3",
        "tab": "a792248ed27b3095",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd12eae5430e069a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "96e9bba7657a895c",
        "type": "ui_group",
        "name": "1",
        "tab": "27133f1f04c8b028",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8906270f2889dfd3",
        "type": "ui_tab",
        "name": "Sign In & Sign Up",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a792248ed27b3095",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "27133f1f04c8b028",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": false
    }
]
